<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    var app = angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
  </script>
  <!-- my scripts -->
  <script src="js/myController.js"></script>
</head>
<body ng-app="BlankApp" ng-cloak>
    <div class="element-container">
      <md-button class="md-raised md-primary">Button</md-button>
    </div>
    <div class="element-container"></div>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Nome</label>
        <input ng-model="user.firstName" style="width: 30%;">
      </md-input-container>
    </div>
    <md-content layout="column" layout-gt-sm="row" layout-padding ng-cloak>
      <div layout="column" flex-order="1" flex-order-gt-sm="0">
        <md-subheader>Start Date</md-subheader>
        <md-calendar ng-model="ctrl.startDate"></md-calendar>
      </div>
      <div layout="column" flex-order="1" flex-order-gt-sm="1">
        <md-subheader>End Date</md-subheader>
        <md-calendar ng-model="ctrl.endDate"></md-calendar>
      </div>
      <div layout="column" flex-order="0" flex-order-gt-sm="2">
        <md-subheader>Dates</md-subheader>
        <div>
          <label>Start</label>
          <div>{{ctrl.startDate | date:shortDate}}</div>
        </div>
        <div><label>End</label>
          <div>{{ctrl.endDate | date:shortDate}}</div>
        </div>
      </div>
    </md-content>
    <md-input-container>
    <md-select ng-controller="myCtrl" ng-model="selectedName">
      <md-option><em>None</em></md-option>
      <md-option ng-repeat="x in names" ng-value="x">{{x}}</option>
    </md-select>

</body>
</html>
